
body {
    background-color: ivory;
    font-family: Oswald, Open-Sans;
    margin-left: 50px;
    color: DarkBlue;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    color: DarkBlue;
}

h2 {
    color: DarkBlue;
}

p {
    line-height: 1.6;
    color: DarkBlue;
}

img {
    width: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
    vertical-align: left;
}