
body {
    background-color: ivory;
    font-family: Open Sans, sans-serif;
    color: DarkBlue;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left {
    float: left;
    width: 30%;

}

.middle {
    float: left;
    width: 30%;
    margin: 20px 20px 20px 20px;
}
.right {
    float: right;
    width: 30%;
}

#navbar ul {
    list-style-type: none;
    padding: 0;

}
#navbar li {
    display: inline;
    margin-right: 100px;
}
#navbar a {
    margin-left: 50px;


}
h1 {
    color: DarkBlue;
    font-family: Oswald, sans-serif;
}

h2 {
    color: DarkBlue;
    font-family: Oswald, sans-serif;
}

p {
    line-height: 1.6;
    color: DarkBlue;
    font-family: Oswald, sans-serif;
}

img {
    width: 100px;
    margin-right: 20px;
    float: left;
}